.akc_class {
	text-align: left;
}

.breed_card {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
	margin: 20px;
}

.breed_photo {
	width: 250px;
}

.breedName {
	font-size: 22px;
	padding-top: 5px;
}

.center_all_breeds {
	margin: 0 auto;
	text-align: center;
}

.dog_info_header {
	text-align: left; 
}

.coat_colors_list {
	list-style-type: disc;
	font-size: 16px;
}

.dogs {
	margin: 0 auto;
	width: 90%;
}

.title {
	font-size: 24px;
}

.unbullet_list {
	list-style-type: none;
}

.wrapper {
	width: 100%;
}
